{
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"ImageHelper/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/",
    "resourcePacksDir":"res_pack/",
    "behaviorPacksDir":"beh_pack/"
  },
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"dev/"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}